
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pay</title>
</head>
<body>
    <div>
        <h3>گزارش نهایی :</h3>
        <p class="text-success">پرداخت شما با موفقیت ثبت شد.</p> 
        <a href="/Home/Index">بازگشت به صفحه اصلی</a>

    </div>
</body>
</html>
