@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="text-align:right">
    <div class="row">
        <h2>: درباره ما</h2>

        <p>
            آغاز عصر دیجیتال و تغییر تاثیر آن در روابط ، خدمات و حتی فرهنگ اجتماعی مردم در تمام دنیا، افزایش سرعت تبادل اطلاعات و اهمیت پیدا کردن زمان در کنار تجربه زندگی دیجیتال به بشر ثابت کرده که دیگر نمیتوان زمان زیادی را برای کارهای روزمره از جمله خرید کالاهای مورد نیاز هدر داد، چرا که امروزه به لطف دنیای دیجیتال با چند کلیک از هر مکان و در هر زمان میتوان کالای مورد نظر را به راحتی و در محیطی امن تهیه کرد
        </p>
        <p>
            مجموعه فروشگاه آنلاین  یکی از اولین و معتبر تری فروشگاه های آنلاین کشور، در آغاز با فروش عمده پوشاک کار خود را آغاز نمود؛ که بعد از موفقیت و جلب رضایت مشتریان، با نیاز سنجی و درایت مدیریت محترم تصمیم به خدمت رسانی به تمام هموطنان عزیز در جای جای ایران عزیزمان گرفت، که در راستای این سیاست گذاری، سایت ... راه اندازی گردید
        </p>
        <p>
            فروشگاه آنلاین 

            مجموعه فروشگاه آنلاین ایجاد خریدی رضایت بخش در فضای اینترنتی را رکن اصلی توسعه‌ی فعالیت‌های خود قرار داده است و محلی مناسب برای اطلاع رسانی و خرید محصولات پوشاک است
        </p>
        <p>
            فروشگاه اینترنتی ، بهترین مکان برای خرید اینترنتی شما در میهن پهناورمان ایران است  تمامی ایرانیان می توانند کالای پوشاک مورد نیاز خود کالای متنوع را به صورت آنلاین خریداری کنند و به آسانی تحویل بگیرند
        </p>
    </div>
</div>



