@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="text-align:right">
    <div class="row">
        <h2>: پرسش و پاسخ</h2>

        <h4>شرایط گارانتی</h4>
        <p>
            امروزه توجه به کیفیت کالا از مهمترین وظایف فروشندگان کالا است و خدمات پس از فروش ضامن حفظ این کیفیت می باشد.

            در همین راستا شرکت دیجی کالا  مفتخر به ارائه سرویس در اسرع وقت به مشتریان گرامی می باشد.
            جهت سهولت در پیگیری گارانتی دستگاه خود می توانید از طریق شماره 02161930010 اقدام نمائید.
        </p>
        <h4>چطور درخواست خود را جهت بازگردان کالا (مرجوعی کالا) به شما اطلاع دهم؟</h4>
        <p>
            شما میتوانید از طریق فرم درخواست مرجوعی در پروفایل ، صفحه تماس با ما و تلفن درخواست خود را ثبت نمایید.
        </p>
        <h4>چطور میتوانم سفارشم را پیگیری کنم ؟</h4>
        <p>
            وارد سایت دیجی کالا شوید.
            روی گزینه سفارش های من کلیک کنید.
            در این قسمت با کلیک روی جزییات میتوانید سفارش خود را ببینید.
            میتوانید در این قسمت روند آماده سازی و مراحل ارسال سفارش خود را پیگیری کنید.

        </p>

    </div>
</div>



